<!DOCTYPE html>
<wicket:panel>
    <div class="container">
    <div class="control-group">
        <div class="controls controls-row">
    <label for="model" wicket:id="dayLabel">Day</label> 
    <input type="text" id="name" class="span1" wicket:id="day"/>
    
    <label for="model" wicket:id="monthLabel">Month</label> 
    <input type="text" id="name" class="span1" wicket:id="month"/>
    
    <label for="model" wicket:id="yearLabel">Year</label> 
    <input type="text" id="name" class="span1" wicket:id="year"/>
    </div>
    </div>
    </div>
</wicket:panel>