<!DOCTYPE html>
<wicket:panel>
    <label><wicket:message key="drop.day"/></label> 
    <input type="text" id="name" class="input-mini" wicket:message="placeholder:drop.day" wicket:id="day"/>
    
    <label><wicket:message key="drop.month"/></label> 
    <input type="text" id="name" class="input-mini" wicket:message="placeholder:drop.month" wicket:id="month"/>
    
    <label><wicket:message key="drop.year"/></label> 
    <input type="text" id="name" class="input-mini" wicket:message="placeholder:drop.year" wicket:id="year"/>
</wicket:panel>